<div id="main_header" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="center_page">
			<%=link_to image_tag("new_song_logo.png"), new_song_path, :title =>"Create new Song"%>
			<%=link_to image_tag("new_band_logo.png"), new_band_path, :title =>"Create New Band"%>
			<%=link_to image_tag("search_logo.png"), "javascript:;", :title =>""%>


		</div>
	</div>
	<div class="clear"></div>
	<div id="page_container">
		<div class="center_page">
		<%= render :partial => "menu_options" %>

		<div id="render_information"></div>
		<div class="clear"></div>
		</div>
	<div class="clear"></div>
	</div>
<div class="clear"></div>