	<div id="main_header">

	</div>
	<div class="clear"></div>
	<div id="page_container">
		<div class="center_page">
		<%= render :partial => "menu_options" %>

		<div id="render_information"></div>
		<div class="clear"></div>
		</div>
	<div class="clear"></div>
	</div>
<div class="clear"></div>