
<div class="landing_page_master">
	<div class="image_background"></div>
	<div class="what_is_this">
		What is Crwoudly Sound?
	</div>
	<div class="landing_container">
		<div class="center_page">
			<!-- <h1 class="title">Crwoudly Sound</h1> -->
			
			<%= image_tag "logo.png", :class => "logo_landing" %>
			<p class="sub_title">Creating music around the world</p>
			<div class="inputs">
				<%= link_to "Login", "#" %> <%= link_to "Login as Guest", login_as_guest_path %>
				<%#= link_to "Login", "javascript:void" %> <%#= link_to "Login as Guest", "#" %>
			</div>
		</div>
		
	</div>
	
</div>