<div id="page_container" class="profile">
	<div id="header_profile" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="center_page">
			<%#= image_tag "logo_only.png", :class => "user_image" %>

			<div class="info_user">
				<h1 class="title">What is Crowdly Sound?</h1>
				<div class="clear"></div>					
			</div>
			
			<div class="clear"></div>
		</div>
	</div>

	<div class="center_page">
		<div class="panel">
			<div>
				<h2 class="title">Crowdly Sound is a new approach for helping musicians to meet and work together around the world.</h2>

				<br />
				<br />

				<div>
					<h3>
						The main objective is to lead to a collaborative work using the philosophy of Git, but for music, in a common and straight-forward language 
						for musicians in order to entablish relationships without worrying for the dificulties of the languages. 
					</h3>

					<br />
					<br />

					<h3>
						Crowdly Sound lets musicians to start composing their songs with the instruments they want, individually or with their bands; also, the musicians
						can ask for help while composing their songs, so the other musicians will be able to help composing the songs in the instruments and genres 
						previously established by the original composer. 
					</h3>

					<br />

					<h2 class="title">Crowdly Sound supports:</h2>

					<br />

					<h3>						
						<ul>
							<li>Single musicians</li>
							<li>Bands</li>
							<li>Casting for choose members of bandas or cowriters</li>
							<li>Collaborative composings</li>
							<li>Covers as copies from other songs</li>
						</ul>
					</h3>

					<br />
					<br />

					<h2 class="title">Help us constructing a better world with better music!</h2>
				</div>

				<br />
				<br />	
				<br />		
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>