<h1>Listing music_sheets</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @music_sheets.each do |music_sheet| %>
      <tr>
        <td><%= link_to 'Show', music_sheet %></td>
        <td><%= link_to 'Edit', edit_music_sheet_path(music_sheet) %></td>
        <td><%= link_to 'Destroy', music_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music sheet', new_music_sheet_path %>
