<% @comments.each do |comment| %>
  <div class = "comment-display">
    <%= render partial: "show", locals:{comment:comment} %>
  </div>
<% end %>
<div class = "new-comment-form">
  <%= render partial: "/comments/new", locals:{commentable: @commentable} %>
</div>