<div id="footer">
	<div class="copy_rigth">
	Copyright &copy; 2013 crowoudlysound.com | All rights reserved. | Developed by <%= link_to "Elev.it", "http://www.elev.it", :target => "_blank"%>
	</div>
</div>