<div class="menu_options">
	<ul>
		<li>
			<%= link_to "News Feed" , "javascript:;"%>
		</li>
		<li>
			<%= link_to "My Projects" , "javascript:;"%>
		</li>
		<li>
			<%= link_to "My Bands" , "javascript:;"%>
		</li>
		<li>
			<%= link_to "My Profile" , "javascript:;"%>
		</li>
	</ul>
</div>