<div>
	<%= link_to musician.name, profile_path(musician) %>
</div>

<div>
	<% if @current_musician.leader_of(@band.id) && @current_musician.id != musician.id %>
		<%= link_to "Remove from band", remove_member_from_band_path(@band.id, musician.id), remote: true, method: :delete, data: { confirm: 'Are you sure ypu want to remove this member from the band?' } %>
	<% end %>
</div>