<%
	title_tab ||=""
	url_name ||=""
%>

<div class="tab_container">
	<div class="tab_header">
		<h1 class="title">
			<%= title_tab%>
		</h1>
	</div>
	<div class="tab_items">
		<% tab_container_item.each do |song| %>
			<div class="item">
				<% if url_name == "song"%>
					<%= link_to song.name, song_path(song) %>
				<% elsif url_name == "band" %>
					<%= link_to song.name, band_path(song) %>
				<% end -%>
			</div>
		<% end %>
	</div>
</div>