<%
	cont=1
	acum1=1
	close = true
%>
<div class="other_products_related">
		<div class="clear"></div>
		 <div id="slideshow_sugestion_" class="master_slider">
		 <div class="slides">
		 	<ul>
		 		<%#= @related_products.inspect %>
		 		<% slide_songs.map{ |songs| %>
		 		<%if acum1==1%>
		 		<li id="slide-<%= cont %>">
		 		<%close = true%>
		 		<%end%>
		 			<div class="product_info">
	            		<%#= render :partial => "product_blocks/productBox", :object => songs, :locals => {:show_more_information => "show"}%>
	            		<%= render :partial => "song",:object => songs %>
	            		<div class="clear"></div>
	        		</div>	
	        	<%if acum1==6%>
		 		</li>
		 		<% close = false %>
       			<% acum1 = 0 %>
       			<% cont +=1 %>
		 		<% end %>

		 		<%acum1 +=1%>
		 		<% } %>
		 		 <%if close%>
			      <div class="clear"></div>
			          </li>
			      <%end%>
		 	</ul>
	
		 	<div class="navigator">
		     <ul class="slides-nav">
		        <% for i in 1 ..cont%>
		          <li class=""><a href="#slide-<%=i%>"></a></li>
		        <% end %>
		     </ul>
		    </div>
		 </div>
       	</div>    
		<%#= render :partial => "more_information_product"%>
		<%#= other_products_related.main_products.size%>
		<%#= render :partial => "product_blocks/product", :collection => subcategory_list.main_products %>
		 <script type="text/javascript">
		   $(function(){
		   		var time_exect = (300 * (+ 1))
		   		setTimeout(function() {
		   			$slideshow.init('#slideshow_sugestion_');	
		   		}, time_exect);
		   });
		</script>
</div><p></p>